header {
  background-color: #ffb75e;
  margin: 0 auto;
  padding: 20px;
  max-width: 50%;
  border: solid 4px;
  border-top: 0px;

  .Botón {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  @media screen and (max-width: 430px) {
    .Botón {
      opacity: 1;
      visibility: visible;
      display: grid;
      margin: 0 auto;
    }
    } 
  }

#menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 700px) {
  grid-template-columns: repeat(2, 1fr);
   }  

  @media screen and (max-width: 430px) {
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  } 
}

.Oculto {
    opacity: 0;
}

.Visible {
    opacity: 1;
}